<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>All Flights</title>
</head>
<body>
  <h1>FLIGHT BOARD</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Origin</th>
        <th>Flight Number</th>
        <th>Departure</th>
      </tr>
    </thead>
  <tbody>
    <% flights.forEach(f => { %> 
      <tr>
        <br>
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
        <td><a href="/flights/<%= f.id %>">DETAILS</a></td>
      </tr>
    <% }); %>
  </tbody>
  </table>
</body>
</html>