<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <h1></h1>
    <section id="show-page">
        <div>Airline: </div>
        <div><%= flight.airline %></div>
        <div>Airport: </div>
        <div><%= flight.airport %></div>
        <div>Flight Number: </div>
        <div><%= flight.flightNo %></div>
        <div>Departs: </div>
        <div><%= flight.departs %></div>
        
        
      </section>

      <br><br><h2>New Destination</h2>
<form  method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport:</label>
  <select name="airport">
    <option value="AUS">Austin</option>
    <option value="DFW">Dallas</option>
    <option value="DEN">Denver</option>
    <option value="LAX">Los Angeles</option>
    <option value="SAN" selected>San Diego</option>
  </select>
  <label>Arrival:</label>
      <input type="datetime-local" name="arrival">
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
    <table>
      <thead>
      <tr>
        <th>Airport</th>
        <th>Arrival</th>
        
      </tr>
      </thead>
      <tbody>
      <% flight.destinations.forEach(function(r) { %>
        <tr>
        <td><%= r.airport %></td>
        <td><%= r.arrival %></td>
        
        </tr>
      <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <h5>No Destinations Listed</h5>
    <% } %>

</body>
</html>